<html>

<head>
    <link type="text/css" rel="stylesheet" href="../css/css.css">
    <script type="text/javascript" src="../js/js.js"></script>
    <title>PIEDAD</title>
    <div id="errors" style="
      background: #c00;
      color: #fff;
      display: none;
      margin: -20px -20px 20px;
      padding: 20px;
      white-space: pre-wrap;
    "></div>
    <div id="root"></div>
    <script>
    window.addEventListener('mousedown', function(e) {
      document.body.classList.add('mouse-navigation');
      document.body.classList.remove('kbd-navigation');
    });
    window.addEventListener('keydown', function(e) {
      if (e.keyCode === 9) {
        document.body.classList.add('kbd-navigation');
        document.body.classList.remove('mouse-navigation');
      }
    });
    window.addEventListener('click', function(e) {
      if (e.target.tagName === 'A' && e.target.getAttribute('href') === '#') {
        e.preventDefault();
      }
    });
    window.onerror = function(message, source, line, col, error) {
      var text = error ? error.stack || error : message + ' (at ' + source + ':' + line + ':' + col + ')';
      errors.textContent += text + '\n';
      errors.style.display = '';
    };
    console.error = (function(old) {
      return function error() {
        errors.textContent += Array.prototype.slice.call(arguments).join(' ') + '\n';
        errors.style.display = '';
        old.apply(this, arguments);
      }
    })(console.error);
    </script>




    <!--ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <style>


    </style>
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js">

    </script>
</head>



<body>
  <h1 class="titulo"><center>Repaso para Julio</center></h1>

  <input type="text" name="numpiso" id="txtPrueba" onkeypress="return valida(event)">
  <script>
function valida(e){
    tecla = (document.all) ? e.keyCode : e.which;
    if (tecla==8){
        return true;
    }
    patron =/[0-9]/;
    tecla_final = String.fromCharCode(tecla);
    return patron.test(tecla_final);
}
</script>
 <TABLE>
        <TR>
          <td><input type="button" name="cargar" id="cargar" value="cargar" onclick="tomarDatos();"></td>
          <td><input type="button" name="limpiar" id="limpiar" value="limpiar" onclick="limpiaCampo();"></td>
        </TR>
          </TABLE>
        </TD></TR>
      <div>
        <tr>
          <td>vectores:</td>
          <td><div id="LblPrueba"></div></td>
        </tr>
    </div>
  </TABLE>

</body>

</html>
